@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Exo 2';
    src: url('/fonts/Exo2-Regular.ttf') format('truetype');
   
  }
.wallet-balance-container{
    padding:10px;
}
.ccc{

    height: 150px !important ;
    padding: 5px;
}

.main-wallet-container{
    height: 310px;
}
.payment-history-container{
   
    background-color: white;
    border-radius: 20px;
}
.wallet-progress-graph{

    height: 200px;
    position: relative;
    bottom: 50px;
    width: 380px
}
